{% extends 'main/base.html' %}
{% block content %}
    {% for challenge in challenges %}
        <article class="media content-section">
          <div class="media-body">
            <h2><a class="article-title" href="{% url 'challenges_detail' challenge.clinician_id %}">{{ challenge.id }}</a></h2>
            <p class="article-content">{{ challenge.description }}</p>
          </div>
        </article>
    {% endfor %}
{#  <div class="row" style="width: 87rem; ">#}
{#    #}
{#    <div class="col">#}
{#        <div class="card" style="width: 47rem; height: 43rem;">#}
{#        <div class="card-header">#}
{#            Challenges#}
{#        </div>#}
{##}
{#        <div class="card-body" style="overflow:auto;">#}
{#            <div class="card-title">#}
{#                <h5>Joe Willson</h5>#}
{#                <p>Uploaded a challenge 8 hours ago<p>#}
{#            </div>#}
{#            <hr class="featurette-divider">#}
{#            <p class="card-text">This challenge requires you to ...Te dolor scribentur referrentur vim. Vix id torquatos voluptatum. Sea ei ludus dicant minimum, et everti sanctus urbanitas usu. Harum putent percipit no pri, at pri mutat dolore labitur. Dolor principes ius eu, doming doctus euismod cu sit, iusto virtute pericula ea cum. Error populo blandit ei pri..</p>#}
{#           <p class="card-text">#}
{#Rebum appetere ea mea, petentium maiestatis id pri. Cu sit alterum bonorum, cu omnium sensibus cum. Homero quaerendum suscipiantur te qui. Per at quas mucius.</p>#}
{#              <p class="card-text">Et numquam scaevola sea, graeco vocent adipiscing ad eam. Nec an ornatus periculis vituperatoribus. Vidisse persequeris in eam, duo ut habeo suavitate. At ius reque lobortis, ea hinc adhuc quaerendum mei, amet tota persecuti vis ut.</p>#}
{#        </div>#}
{#        </div>#}
{#    </div>#}
{##}
{##}
{#    <div class="col">#}
{#    <div class="card" style="width: 20rem; height: 43rem;" >#}
{#        <div class="card-header">#}
{#           In progress#}
{#        </div>#}
{#        <div class="card-body">#}
{##}
{#        <ul style="overflow:auto; height:37rem;width:18rem; list-style-type:none;padding-left:0.2rem;padding-right:0.2rem">#}
{#        <li style="margin-bottom:2rem" >#}
{#            <h5 class="card-title">Challenge 1</h5>#}
{#            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>#}
{#            <a href="#" class="btn btn-primary">Continue</a>#}
{#        </li>#}
{##}
{#        <li style="margin-bottom:2rem">#}
{#            <h5 class="card-title">Challenge 2</h5>#}
{#            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>#}
{#            <a href="#" class="btn btn-primary">Continue</a>#}
{#        </li>#}
{##}
{#        <li style="margin-bottom:2rem">#}
{#            <h5 class="card-title">Challenge 3</h5>#}
{#            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>#}
{#            <a href="#" class="btn btn-primary">Continue</a>#}
{#        </li>#}
{##}
{#         <li style="margin-bottom:2rem">#}
{#            <h5 class="card-title">Challenge 4</h5>#}
{#            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>#}
{#            <a href="#" class="btn btn-primary">Continue</a>#}
{#        </li>#}
{##}
{#        </ul> #}
{##}
{#        </div>#}
{#    </div> #}
{#    </div>#}
{##}
{#  </div>#}

{% endblock %}