{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

  <div class="row" style="width: 87rem; ">
    
    <div class="col">
        <div class="card" style="width: 47rem; height: 43rem;">
        <div class="card-header">
            Challenges
        </div>

        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        </div>
    </div>


    <div class="col">
    <div class="card" style="width: 20rem; height: 43rem;">
        <div class="card-header">
            Challenges
        </div>
        <div class="card-body">
            <h5 class="card-title">In progress</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div> 
    </div>

  </div>

{% endblock %}